*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
div {
    max-height: fit-content;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
